.message_box{
    height: 320px;
    width: 280px;
    border: 1px solid #000;
    display:inline-block;
    box-sizing: border-box;
}
.box_name{
    height: 40px;
    width: 278px;
    padding-top: 10px;
    border-bottom: 1px solid #000;
    display: inline-block;;
}
.buffer{
    display: inline;
    padding-right: 10px;
}
.inline{
    display: inline;;
}
.messages{
    width: 278px;
    height: 225px;
    display: inline-block;
    border-bottom: 1px solid #000;
}
.x{
    float: right;
    display: inline;
    padding-right: 5px;
    cursor: pointer;
}
.x:hover{
    color: #555;
}
.send_box{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 270px; 
}
body{
    font-family: sans-serif;
}
h2{
    padding-left: 10px;
    display: inline;
}
