<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/react@latest/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <title>Chat v0.0</title>
    </head>
    <body>
        <h1>Chat Server</h1>

            <div id="userForm"></div>

        <script type="text/babel">
            var socket = io.connect('http://127.0.0.1:5000');
            var thisForm = false;

            class UserList extends React.Component{

                constructor(props){
                    super(props);
                    this.state = {users: [], this_user: ''};
                    socket.emit('request_list');

                    //Binding
                    this.addUser = this.addUser.bind(this);
                    this.makeList = this.makeList.bind(this);
                    this.sendList = this.sendList.bind(this);
                    this.handleChange = this.handleChange.bind(this);
                    this.handleSubmit = this.handleSubmit.bind(this);
                    this.componentDidMount = this.componentDidMount.bind(this);
                    this.createSelectedItems = this.createSelectedItems.bind(this);
                }//constructor

                componentDidMount(){
                    socket.on('new_user', this.addUser);
                    socket.on('send_list', this.sendList);
                    socket.on('new_list', this.makeList);
                }//componentDidMount

                // Makes list from an older instance
                makeList(newUserList){
                    this.setState({users: newUserList});
                }//makeList

                // Sends a user list to a new instance of chat
                sendList(){
                    socket.emit('list_sent', this.state.users.slice());
                }//sendList

                // Adds user to the list
                addUser(data){
                    if(!thisForm){
                        var newList = this.state.users.slice();
                        newList.push(data);
                        this.setState({users: newList});
                    }else{
                        this.setState({this_user: data});
                        var newList = this.state.users.slice();
                        newList.push(data);
                        this.setState({users: newList});
                        thisForm = false;
                    }//if else
                }//connected

                //Depricated. Not needed right now. Maybe later.
                handleChange(pick){
                    this.setState({value:pick.target.value});
                }//handleChange

                // When a user is selected from the drop down
                handleSubmit(event) {
                    //TODO: This will be when I open the message box
                    if((this.state.this_user !== '')&&(event.target.value !== 'default')){

                        var index = event.nativeEvent.target.selectedIndex;
                        var name = event.nativeEvent.target[index].text;
                        alert('You started a conversation with '+name);

                        var data = {person1: this.state.this_user.user, chatId1: socket.id,
                                    person2: name, chatId2: event.target.value};
                        socket.emit('start_chat', data);

                    }else if (this.state.this_user === ''){

                        alert('Enter a name before starting a chat');
                        event.target.value = 'default';

                    }//if else
                    event.preventDefault();
                }//handleSubmit

                // Makes the list of users
                createSelectedItems(){
                    var items = [];
                    for(var i=0; i<this.state.users.length; i++){
                        if(this.state.users[i].user !== this.state.this_user.user){
                            items.push(<option key={i} label={this.state.users[i].user}
                            value={this.state.users[i].chatId}>
                            {this.state.users[i].user}
                            </option>);
                        }//if
                    }//for
                    return items;
                }//createSelectedItems

                    render(){
                        var padding = {float:'right'};
                        return(
                            <span>
                                <select style={padding} onChange={this.handleSubmit}>
                                    <option value={'default'} defaultValue>Select someone to chat with... </option>
                                    {this.createSelectedItems()}
                                </select>
                                <label style={padding}>Start a conversation: </label>
                            </span>
                    )//return
                }//render
            }//UserList

            class UserForm extends React.Component {

                constructor(props){
                    super(props);
                    this.state = {value: '', user_name: ''};

                    //Binding
                    this.handleChange = this.handleChange.bind(this);
                    this.handleSubmit = this.handleSubmit.bind(this);
                }//constructor

                // Renders the text in the text box
                handleChange(event){
                    this.setState({value: event.target.value});
                }//handleChange

                // On enter, sends the name to server
                handleSubmit(event){
                    var data = {user: this.state.value, chatId: socket.id};
                    socket.emit('add_user', data);
                    this.setState({user_name: this.state.value});
                    thisForm = true;
                    event.preventDefault();
                }//handleSubmit

                render(){
                    var inline = {display:'inline'};
                        return(
                            <form onSubmit={this.handleSubmit} style={inline}>
                            <label style={inline}>
                              Name:
                              <input type="text" value={this.state.value} onChange={this.handleChange} />
                            </label>
                          </form>
                        );
                }//render

            }//UserForm

            class MessageBox extends React.Component {

                //partner is the other person in the chat
                constructor(props){
                    super(props);
                    this.state = {partner: ''};

                    this.componentDidMount = this.componentDidMount.bind(this);
                    this.connectPartner = this.connectPartner.bind(this);
                    this.makeBox = this.makeBox.bind(this);
                    this.setThisPartner = this.setThisPartner.bind(this);
                }//constructor

                componentDidMount(){
                    socket.on('chat_started', this.connectPartner);
                    socket.on('room_connect', this.makeBox);
                    socket.on('set_partner', this.setThisPartner);
                }//componentDidMount

                //This will be called if this user picked the chat partner
                setThisPartner(newPartner){
                    this.setState({partner: newPartner});
                }//setThisPartner

                makeBox(room){
                    console.log("In room "+room);
                    console.log('makeBox: '+this.state.partner);
                }//makeBox

                //this will be called if another user picked this user as a chat partner
                connectPartner(data){
                    this.setState({partner: data.partner});
                    console.log("ConnectedPartner: "+data.partner);
                    socket.emit('add_to_room', data.room);
                }//connectPartner

                render(){
                    return(
                        <div>
                        Test
                        </div>
                    );
                }//render

            }//MessageBox

            ReactDOM.render(
                <div>
                    <fieldset>
                        <UserForm />
                        <UserList />
                    </fieldset>
                    <br />
                    <MessageBox />
                </div>,
              document.getElementById('userForm')
            );

        </script>
    </body>
</html>
