<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/react@latest/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <title>Chat v0.0</title>
    </head>
    <body>
        <h1>Chat Server</h1>

            <div id="AppWrapper"></div>

        <script type="text/babel">
            var socket = io.connect('http://127.0.0.1:5000');
            var thisForm = false;

            class UserList extends React.Component{

                constructor(props){
                    super(props);
                    this.state = {users: [], this_user: ''};
                    socket.emit('request_list');

                    //Binding
                    this.addUser = this.addUser.bind(this);
                    this.makeList = this.makeList.bind(this);
                    this.sendList = this.sendList.bind(this);
                    this.handleChange = this.handleChange.bind(this);
                    this.handleSubmit = this.handleSubmit.bind(this);
                    this.componentDidMount = this.componentDidMount.bind(this);
                    this.createSelectedItems = this.createSelectedItems.bind(this);
                    this.userLeft = this.userLeft.bind(this);
                }//constructor

                componentDidMount(){
                    socket.on('new_user', this.addUser);
                    socket.on('send_list', this.sendList);
                    socket.on('new_list', this.makeList);
                    socket.on('user_left', this.userLeft);
                }//componentDidMount

                userLeft(socketId){
                    for (var i = 0; i < this.state.users.length; i++) {
                        if(this.state.users[i].chatId === socketId){
                            var newArray = this.state.users;
                            newArray.splice(i, 1);
                            this.setState({users: newArray});
                        }//if
                    }//for loop
                }//userLeft

                // Makes list from an older instance
                makeList(newUserList){
                    this.setState({users: newUserList});
                }//makeList

                // Sends a user list to a new instance of chat
                sendList(){
                    socket.emit('list_sent', this.state.users.slice());
                }//sendList

                // Adds user to the list
                addUser(data){
                    if(!thisForm){
                        var newList = this.state.users.slice();
                        newList.push(data);
                        this.setState({users: newList});
                    }else{
                        var newList = this.state.users.slice();
                        newList.push(data);
                        this.setState({users: newList, this_user: data});
                        thisForm = false;
                    }//if else
                }//connected

                //Depricated. Not needed right now. Maybe later.
                handleChange(pick){
                    this.setState({value:pick.target.value});
                }//handleChange

                // When a user is selected from the drop down
                handleSubmit(event) {
                    if((this.state.this_user !== '')&&(event.target.value !== 'default')){

                        var index = event.nativeEvent.target.selectedIndex;
                        var name = event.nativeEvent.target[index].text;
                        alert('You started a conversation with '+name);

                        var data = {person1: this.state.this_user.user, chatId1: socket.id,
                                    person2: name, chatId2: event.target.value};
                        socket.emit('start_chat', data);
                        event.target.value = 'default';
                    }else if (this.state.this_user === ''){

                        alert('Enter a name before starting a chat');
                        event.target.value = 'default';

                    }//if else
                    event.preventDefault();
                }//handleSubmit

                // Makes the list of users
                createSelectedItems(){
                    var items = [];
                    for(var i=0; i<this.state.users.length; i++){
                        if(this.state.users[i].user !== this.state.this_user.user){
                            items.push(<option key={i} label={this.state.users[i].user}
                            value={this.state.users[i].chatId}>
                            {this.state.users[i].user}
                            </option>);
                        }//if
                    }//for
                    return items;
                }//createSelectedItems

                    render(){
                        var padding = {float:'right'};
                        return(
                            <span>
                                <select style={padding} onChange={this.handleSubmit}>
                                    <option value={'default'} defaultValue>Select someone to chat with... </option>
                                    {this.createSelectedItems()}
                                </select>
                                <label style={padding}>Start a conversation: </label>
                            </span>
                    )//return
                }//render
            }//UserList

            class AppWrapper extends React.Component {

                constructor(props){
                    super(props);
                    this.state = {value: '', user_name: ''};

                    //Binding
                    this.handleChange = this.handleChange.bind(this);
                    this.handleSubmit = this.handleSubmit.bind(this);
                }//constructor

                // Renders the text in the text box
                handleChange(event){
                    this.setState({value: event.target.value});
                }//handleChange

                // On enter, sends the name to server
                handleSubmit(event){
                    var data = {user: this.state.value, chatId: socket.id};
                    socket.emit('add_user', data);
                    var name = this.state.value;
                    this.setState({user_name: name});
                    thisForm = true;
                    event.preventDefault();
                }//handleSubmit

                render(){
                    var inline = {display:'inline'};
                        return(
                            <div>
                                <fieldset>
                                <form onSubmit={this.handleSubmit} style={inline}>
                                <label style={inline}>
                                  Name:
                                  <input type="text" value={this.state.value} onChange={this.handleChange} />
                                </label>
                              </form>
                              <UserList />
                              </fieldset>
                              <br />
                              <MessageField user={this.state.user_name} />
                          </div>
                        );
                }//render

            }//AppWrapper

            class MessageField extends React.Component {

                //partner is the other person in the chat
                constructor(props){
                    super(props);
                    this.state = {partners: [],
                                    room: '',
                                    oldSessions: []};

                    this.componentDidMount = this.componentDidMount.bind(this);
                    this.connectPartner = this.connectPartner.bind(this);
                    this.makeBoxes = this.makeBoxes.bind(this);
                    this.setThisPartner = this.setThisPartner.bind(this);
                    this.removeBox = this.removeBox.bind(this);
                    this.fromOldPartner = this.fromOldPartner.bind(this);
                    this.getOldMessages = this.getOldMessages.bind(this);
                    this.disconnectedPartner = this.disconnectedPartner.bind(this);
                }//constructor

                componentDidMount(){
                    socket.on('chat_started', this.connectPartner);
                    socket.on('new_user', this.disconnectedPartner);
                    //socket.on('room_connect', this.makeBoxes);
                    socket.on('set_partner', this.setThisPartner);
                    socket.on('remove_partner', this.removeBox);
                    socket.on('from_old_partner', this.fromOldPartner);
                }//componentDidMount

                disconnectedPartner(data){
                    var inOldSesh = false;

                    //look for the partner in oldSessions
                    for(var i=0;!inOldSesh&&(i<this.state.oldSessions.length); i++){
                        if(this.state.oldSessions[i].partner === data.user){
                            inOldSesh = true;
                        }//if
                    }//for

                    //see if the partner was in an old session or current
                    console.log(this.state.partners.includes(data.user));
                    if(inOldSesh || this.state.partners.includes(data.user)){
                        socket.emit('reconnect_partner', data);
                    }//if
                }//disconnectedPartner

                fromOldPartner(data){
                    if(data.room.contains(this.props.user_name)&&this.state.partners.length == 0){
                        var oldList = this.state.partners.slice();
                        var newList = [data.partner];
                        newList = newList.concat(oldList);
                        this.setState({partners: newList, room: data.room});
                    }//if
                }//fromOldPartner

                //This will be called if this user picked the chat partner
                //I will check to see if there was an old session here
                setThisPartner(data){
                    var oldList = this.state.partners.slice();
                    var newList = [data.partner];
                    var inOldSesh = false;
                    var i = 0;
                    newList = newList.concat(oldList);

                    for (; !inOldSesh && (i < this.state.oldSessions.length); i++) {
                        if (data.partner === this.state.oldSessions[i].partner){
                            inOldSesh = true;
                        }//if
                    }//for

                    if (!inOldSesh){
                        this.setState({partners: newList, room: data.room});
                    } else {
                        var oldRoom = this.state.oldSessions[i-1].room;
                        this.setState({partners: newList,
                                        room: oldRoom});
                    }//if else
                }//setThisPartner

                getOldMessages(partner){
                    var messages = [];

                    for(var i=0; i<this.state.oldSessions.length; i++){
                        if(partner === this.state.oldSessions[i].partner){
                            messages = this.state.oldSessions[i].messages;
                        }//if
                    }//for
                    return messages;
                }//getOldMessages

                removeBox(data){
                    var newArray = this.state.partners;
                    var index = newArray.indexOf(data.partner);
                    var newSeshArray = this.state.oldSessions;

                    newSeshArray.push(data);
                    newArray.splice(index, 1);
                    this.setState({partners:newArray, oldSessions: newSeshArray});
                }//removeBox

                makeBoxes(){
                    var items = [];
                    var check = [];
                    var messages = [];

                    for(var i=0; i<this.state.partners.length; i++){
                        if(!check.includes(this.state.partners[i])){
                            messages = this.getOldMessages(this.state.partners[i]);
                            //check if messages is empty
                            //if it is, check for reconnect
                            if(messages.length<1){
                                var data = {user: this.props.user, room: this.state.room};
                                socket.emit('request_mess', data);
                            }//if
                            items.push(
                                <MessageBox key={this.state.partners[i]}
                                partner={this.state.partners[i]}
                                user={this.props.user}
                                messages={messages}
                                room={this.state.room}
                                socket={io.connect()} />
                            );
                            check.push(this.state.partners[i]);
                        }//if
                    }//for
                    return items;
                }//makeBox

                //this will be called if another user picked this user as a chat partner
                connectPartner(data){
                    var oldList = this.state.partners.slice();
                    var newList = [data.partner];
                    var inOldSesh = false;
                    var i = 0;
                    newList = newList.concat(oldList);

                    for (; !inOldSesh && (i < this.state.oldSessions.length); i++) {
                        if (data.partner === this.state.oldSessions[i].partner){
                            inOldSesh = true;
                        }//if
                    }//for

                    if (!inOldSesh){
                        this.setState({partners: newList, room: data.room});
                    } else {
                        var oldRoom = this.state.oldSessions[i-1].room;
                        var newData = {messages: this.state.oldSessions[i-1].messages,
                                        room: this.state.oldSessions[i-1].room};
                        socket.emit('old_partner', newData);
                        this.setState({partners: newList,
                                        room: oldRoom});
                    }//if else
                }//connectPartner

                render(){
                    var i = 0;
                    return(
                        <div>
                        {this.makeBoxes()}
                        </div>
                    );
                }//render

            }//MessageBox

            class MessageBox extends React.Component {
                constructor(props){
                    super(props);
                    this.state = {partner: this.props.partner,
                                    messages: this.props.messages,
                                    value: '',
                                    room: this.props.room};

                    socket.emit('add_to_room', this.state.room);

                    this.closeBox = this.closeBox.bind(this);
                    this.handleChange = this.handleChange.bind(this);
                    this.sendMessage = this.sendMessage.bind(this);
                    this.listMessages = this.listMessages.bind(this);
                    this.receiveMessage = this.receiveMessage.bind(this);
                    this.reconnectChat = this.reconnectChat.bind(this);
                    this.givePartnerData = this.givePartnerData.bind(this);
                }//constructor

                sendMessage(event){
                    var newList = this.state.messages;
                    var thisMessage = this.props.user+': '+this.state.value;
                    var thisRoom = this.state.room;
                    var data = {message: thisMessage,
                                room: thisRoom};

                    socket.emit('sent_message', data);
                    newList.push(thisMessage);

                    this.setState({messages: newList});
                    this.setState({value: ''});

                    event.preventDefault();
                }//sendMessage

                componentDidMount(){
                    socket.on('receive_message', this.receiveMessage);
                    socket.on('send_message_list', this.sendMessageList);
                    socket.on('reconnect_chat', this.reconnectChat);
                    socket.on('get_partner_data', this.givePartnerData);
                }//componentDidMount

                givePartnerData(data){
                    if(this.state.partner === data.user){
                        var newData = {chatId: data.chatId,
                                        room: this.state.room,
                                        messages: this.state.messages};
                        socket.emit('give_partner_data', newData);
                    }//if
                }//givePartnerData

                reconnectChat(data){
                    this.setState({messages: data.messages, room: data.room});
                }//reconnectChat

                sendMessageList(){
                    var data = {room: this.state.room, messages: this.state.messages};
                    socket.emit('new_message_list', data);
                }//sendMessageList

                receiveMessage(data){
                    if(data.room === this.state.room){
                        var newList = this.state.messages;
                        newList.push(data.message);
                        this.setState({messages: newList});
                    }//if
                }//receiveMessage

                listMessages(){
                    var items = [];
                    for(var i=0; i<this.state.messages.length; i++){
                        items.push(
                            <li key={i}>
                            {this.state.messages[i]}
                            </li>
                        );
                    }//for

                    return items;
                }//listMessages

                handleChange(event){
                    this.setState({value: event.target.value});
                }//handleChange

                closeBox(){
                    var data = {partner: this.state.partner,
                                room: this.state.room,
                                messages: this.state.messages};//this is an oldSession obj
                    socket.emit('close_box', data);
                }//closeBox

                render(){
                    var inline = {display:'inline'};
                    return(
                        <div className='inline' key={1}>
                        <div key={2} className="message_box">
                            <div key={0} className="box_name">
                                <div key={3} className='x'
                                onClick={(event) => this.closeBox()}>X</div>
                                <h2>{this.state.partner}</h2>
                            </div>
                            <div key={4} id="messDiv" className="messages">
                                <ul key={9}>
                                    {this.listMessages()}
                                </ul>
                            </div>
                            <form onSubmit={this.sendMessage} style={inline}>
                                <input type="text" value={this.state.value}
                                onChange={this.handleChange}
                                className='send_box' />
                            </form>
                        </div>
                        <div className='buffer' key={0}></div>
                        </div>
                    );
                }//render
            }//MessageBox

            ReactDOM.render(
                <div>
                    <AppWrapper />
                </div>,
              document.getElementById('AppWrapper')
            );

        </script>
    </body>
</html>
